.SelfFamilyTab-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.dependents {
    display: flex;
    flex-direction: row;
}

.Dependent-Son-Counter, .Dependent-Daughter-Counter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Proceed-button {
    position: relative;
    top:10px;
    left: 150px;
    padding: 5px;
    background-color: Red;
    border: solid;
    color:white;
}

@media only screen and (max-width: 750px) {
    .Proceed-button {
        left:0px;
    }
}

