.Tab-button {
    padding: '10px';
    border: 1px solid grey;
    border-radius: 5px;
    cursor: 'pointer';
    height: 50px;
    background-color: white;
}

.Tab-button:active {
    color: red;
}