.family {
    display: flex;
    justify-content: center;
}

.back-proceed {
    display: flex;
    justify-content: flex-end;
}

.back, .proceed {
    margin: 2px;
    color: white;
    background-color: red;
    border: none;
}

