.user-input-unit, .user-title, .full-name, .gender, .dob {
    margin:5px;
}

.user-input-unit {
    display: flex;
}

.user-title {
    width:70px;
}

@media only screen and (max-width: 750px) {
    .user-input-unit {
        flex-direction: column;
    }
}